<form>
    <div class="row space">
        <div class="col-3">
            <div class="row" style="text-align:center;">
                <a>Venta</a>
            </div>
            <div class="row">
                <button class="btn" [routerLink]="['/comercial/venta']">
                    <img src="../../../assets/cashier_icon.png" width="150px" height="150px"/>
                </button>
            </div>
        </div>
        <div class="col-3">
            Devolucion
        </div>
        <div class="col-3">
            
        </div>
        <div class="col-3">
    
        </div>
    </div>
</form>